*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    background-image: url(backgroundimage.png);
    color: #ffffff;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo{
   width: 70px;
   height: 70px;
}

.navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 60px;
    color: #66FCF1;
}

.navbar a:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.menu , .bio {
    flex: 1; 
    text-align: center;
    margin-right:12%;
}

.menu{
    margin-top: 1%;
    padding-left: 4.5%;
    width: 1%;
}

.menu a{
    display: block;
    width: 2%;
    margin-top: 40px;
}

.menu img{
    height: 50px;
    width: 50px;
}

.menu img:hover{
    height: 70px;
    width: 70px;
}

.bio{
    margin-top: 5%;
    width: 90%;
    height: 60%;
}

.bio h1{
    font-size: 90px;
    color: #66FCF1;
}

.bio h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
}

.bio p{
    font-size: 25px;
    font-weight: 400;
}

.myworks{
    height: 40px;
    background:transparent;
    color: white;
    width: 110px;
    font-size: 15px;
    font-weight: 700;
    border: #66FCF1;
    border-style:double;
    border-radius: 5px;
    margin-left: 46%;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: rgb(24, 23, 23);
    margin-top: 2%;
    padding: 3px;
    padding-bottom: 3px;
}
footer p{
    margin-top: 15px;
    
}


/*Blog and Project Page*/

.blogsection1, .blogsection2, .blogsection3{
    display: flex;
    justify-content: space-between;
    text-align:left;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%; 
}
.headding{
    margin-left: 44%;
    font-size: 50px;
}
.mainimg{
    width: 100%;

    margin-bottom: 10px;
}
.blogsection1 div{
    width: 30%;
    background-color: #45A29E;
    padding: 10px;
}

.blogsection2 div{
    width: 30%;
    background-color: #45A29E;
    padding: 10px;
}
.blogsection3 div{
    width: 30%;
    background-color: #45A29E;
    padding: 10px;
}
.codeimg1{
    width: 70px;
    margin: 5px 0;
}
.codeimg2{
    width: 30px;
}
























