*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body{
    background-image: url(backgroundimage.png);
    color: #ffffff;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo{
   width: 70px;
   height: 70px;
}

.navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 60px;
    color: #66FCF1;
}

.navbar a:hover {
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.menu , .bio {
    flex: 1; 
    text-align: center;
    margin-right:12%;
}

.menu{
    margin-top: 1%;
    padding-left: 4.5%;
    width: 1%;
}

.menu a{
    display: block;
    width: 2%;
    margin-top: 40px;
}

.menu img{
    height: 50px;
    width: 50px;
}

.menu img:hover{
    height: 70px;
    width: 70px;
}

.bio{
    margin-top: 5%;
    width: 90%;
    height: 60%;
}

.bio h1{
    font-size: 90px;
    color: #66FCF1;
}

.bio h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
}

.bio p{
    font-size: 25px;
    font-weight: 400;
}

.myworks{
    height: 40px;
    background:transparent;
    color: white;
    width: 110px;
    font-size: 15px;
    font-weight: 700;
    border: #66FCF1;
    border-style:double;
    border-radius: 5px;
    margin-left: 46%;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: rgb(24, 23, 23);
    margin-top: 2%;
    padding: 3px;
    padding-bottom: 3px;
}
footer p{
    margin-top: 15px;
    
}


/*Blog and Project Page*/

/* Blog Container */
.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Blog Post Styles */
.blog-post {
    position: relative;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 400px;
}
.blog-post:hover {
    transform: scale(1.02);
}
/* Blog Post Content */
.mainimg {
    width: 100%;
    height: auto;
}
.blog-content {
    padding: 10px;
    font-size: 0.9em;
}
.full-content {
    display: none;   /* Hide extra content initially */
}
.full-content.visible {
    display: inline;
}
.codeimg{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.show-more {
    color: blue;
    cursor: pointer;
}























